<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app> 
  <servlet>
    <servlet-name>LanternCorpsAcademyServlet</servlet-name>
    <servlet-class>com.ulasoft.lanterncorpsacademy.LanternCorpsAcademyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanternCorpsAcademyServlet</servlet-name>
    <url-pattern>/lanterncorpsacademy.echo</url-pattern>
  </servlet-mapping>
 </web-app>